#cardContainer {
    min-height: 400px;
    min-width: 320px; 
    background-color: #9999;
}

#cardTemplate {
    height: max-content; 
    min-width: 280px; 
    max-width: 280px;
}

.card {
    height: 170px;
    max-width: 290px;
    min-width: 290px;
}

.card-header {
    min-height: 57px;
}

.card-body {
    width: 270px;
}
